/*
	Transportation Safety Shipment	
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body, input, textarea
	{
		font-family: 'Open Sans', sans-serif;
	/*	line-height: 1.85em;/
		color: #888;
	/*	font-weight: 300;*/
	}

	a
	{
		color: black;
		text-decoration: none;
		-moz-transition: color .2s ease-in-out;
		-webkit-transition: color .2s ease-in-out;
		-o-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;
	}
	
		a:hover
		{
			color: #1B75A6 !important;
		}

	strong, b
	{
		font-weight: 600;
		color: #3e3e3e;
	}
	/*
	h1, h2, h3, h4, h5, h6
	{
		color: #3e3e3e;
	}
	
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			text-decoration: none;
			color: inherit;
		}
	
	h2, h3, h4, h5, h6
	{
		font-weight: 700;
	}
	
	h1
	{
		font-weight: 300;
	}
	
		h1 strong
		{
			font-weight: 700;
		}
	*/
	em, i
	{
		font-style: italic;
	}
	
ß

	form
	{
	}
	
		form input,
		form select,
		form textarea
		{
			-webkit-appearance: none;
		}

		form input[type=text],
		form input[type=password],
		form select,
		form textarea
		{
			width: 100%;
			border: 0;
			padding: 0.75em;
			font-size: 1em;
			border-radius: 8px;
			background: #282828;
			color: #bbb;
			box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025);
		}

		form input[type=text]:focus,
		form input[type=password]:focus,
		form select:focus,
		form textarea:focus
		{
			box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025), 0px 0px 2px 2px #74CAEE;
		}
		
		form textarea
		{
			height: 15em;
		}
		
		form .formerize-placeholder
		{
			color: #555 !important;
		}

		form ::-webkit-input-placeholder
		{
			color: #555 !important;
		}

		form :-moz-placeholder
		{
			color: #555 !important;
		}

		form ::-moz-placeholder
		{
			color: #555 !important;
		}

		form :-ms-input-placeholder
		{
			color: #555 !important;
		}

		form ::-moz-focus-inner
		{
			border: 0;
		}

	br.clear
	{
		clear: both;
	}
	

	
	section,
	article
	{
		margin-bottom: 3em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}
	
	.button
	{
		position: relative;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		font-weight: 700;
		border: 0;
		outline: 0;
		cursor: pointer;
		border-radius: 8px;
		text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
		overflow: hidden;
		background: #61b8db;
		background-image: -moz-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: -webkit-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: -o-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: -ms-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		background-image: linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
		box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255,255,255,0.75);
		-moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-o-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
	}

		.button:before
		{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('images/bg.png');
		}

		.button:hover
		{
			background-color: #76cdf0;
			color: #fff !important;
		}
		
		.button:active
		{
			background-image: -moz-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: -webkit-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: -o-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: -ms-linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			background-image: linear-gradient(top, rgba(48,141,196,1), rgba(77,164,199,0));
			box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px -2px 1px 0px rgba(255,255,255,0.75);
			top: 1px;
		}
	
		.button-alt
		{
			background-color: #393939;
			background-image: -moz-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: -webkit-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: -o-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: -ms-linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			background-image: linear-gradient(top, rgba(50,50,50,0), rgba(45,45,45,1));
			box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255,255,255,0.2);
		}

			.button-alt:hover
			{
				background-color: #444;
			}
			
			.button-alt:active
			{
				background-image: -moz-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: -webkit-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: -o-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: -ms-linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				background-image: linear-gradient(top, rgba(45,45,45,1), rgba(50,50,50,0));
				box-shadow: inset 0px 0px 0px 1px #242424, inset 0px -2px 1px 0px rgba(255,255,255,0.2);
			}
	
		.button-big
		{
		}

	ul.social
	{
		cursor: default;
		margin: 0;
	}
	
		ul.social li
		{
			position: relative;
			display: inline-block;
			margin: 0.25em;
			top: 0;
			border-radius: 6px;
			overflow: hidden;
			background: #444;
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
			-moz-transition: background-color .2s ease-in-out, top .2s ease-in-out;
			-webkit-transition: background-color .2s ease-in-out, top .2s ease-in-out;
			-o-transition: background-color .2s ease-in-out, top .2s ease-in-out;
			-ms-transition: background-color .2s ease-in-out, top .2s ease-in-out;
			transition: background-color .2s ease-in-out, top .2s ease-in-out;
			box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255,255,255,0.1);
		}

			ul.social li a
			{
				display: block;
				position: relative;
				background: url('images/social.png');
				width: 48px;
				height: 48px;
				text-indent: -9999em;
				outline: 0;
			}
			
				ul.social li.facebook a						{ background-position: 0px 0px; }
					ul.social li.facebook:hover				{ background-color: #3C5A98; }
				ul.social li.twitter a						{ background-position: -48px 0px; }
					ul.social li.twitter:hover				{ background-color: #2DAAE4; }
				ul.social li.rss a							{ background-position: -96px 0px; }
					ul.social li.rss:hover					{ background-color: #F2600B; }
				ul.social li.dribbble a						{ background-position: -144px 0px; }
					ul.social li.dribbble:hover				{ background-color: #C4376B; }
				ul.social li.linkedin a						{ background-position: -192px 0px; }
					ul.social li.linkedin:hover				{ background-color: #006599; }
				ul.social li.tumblr a						{ background-position: -240px 0px; }
					ul.social li.tumblr:hover				{ background-color: #51718A; }
				ul.social li.googleplus a					{ background-position: -288px 0px; }
					ul.social li.googleplus:hover			{ background-color: #DA2713; }

			ul.social li:hover
			{
				top: -5px;
			}

			ul.social li:active
			{
				top: 0;
			}

	.box
	{
		background: #F7F7F7;
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 2px 3px 0px rgba(0,0,0,0.1);
		text-align: center;
	}

		.box .image-full
		{
			position: relative;
		}
		.box ul
		{
			padding-bottom:0px;
		}
		.box ul li
		{
			display: inline;
			padding: 0;
		}

.first-level
{
	font-size: 170%;
	color: #E00707;
}
.second-level
{
	font-size: 150%;
	color: #DB17A7;
}
.third-level
{
	font-size: 150%;
	color: #06F83E;
}
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		background-image: white;
		box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 2px 0px rgba(0,0,0,0.1);
		padding:10px;
		margin: 0px;
		

	}

	.wrapper-first
	{
		box-shadow: none;
	}

	.wrapper-style1
	{
		background-image: none;
		background-color: #fff;
	}
	
	.wrapper-style2
	{
		background-color: white;
		text-shadow: 1px 1px 0px #fff;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	
	.wrapper-style3
	{
		background-color: #f4f4f4;
		text-shadow: 1px 1px 0px #fff;
	}

	
		.wrapper-style4 h1, 
		.wrapper-style4 h2, 
		.wrapper-style4 h3, 
		.wrapper-style4 h4, 
		.wrapper-style4 h5, 
		.wrapper-style4 h6
		{
			color: #fff;
		}
		
		.wrapper-style4 .row-special
		{
			border-top: solid 1px rgba(0,0,0,0.5);
			border-bottom: solid 1px rgba(0,0,0,0.5);
			box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.1), 0px 1px 0px 0px rgba(255,255,255,0.1);
		}


/*********************************************************************************/
/* Logo                                                                           */
/*********************************************************************************/
     #pageheader
     {
	 	background-color: #EBEBEB;
		text-align: center;		
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10000;
		cursor: default;
		-moz-box-shadow:    inset 0 0 10px #000000;
   		-webkit-box-shadow: inset 0 0 10px #000000;
   		box-shadow:         inset 0 0 10px #000000;

     }
     #logo
     {
	 position:relative;
	 left:20px;
	 text-align:left;
	 width:20%;
	 float:left;
	 padding:10px;
	 border-right: solid ;
/*border-style:solid;
border-width:medium;
*/
     }

     #logo h4
     {
     	color:white;
     }

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
        
	#nav
	{
		background-color: #EBEBEB;
		text-align: center;		
		position: relative;
		left:5%;
		top: 0;
		width: 60%;
		z-index: 10000;
		cursor: default;
		float:left;	
		margin-top: 5px;
		margin-bottom: 5px;
	}
	        
		#nav ul
		{
		    position:relative;
			left:0;
			margin: 0;
		}
		
		#nav li
		{
			display: inline-block;
			
		}
		
		#nav a
		{
			position: relative;
			display: block;
			color: black;
			text-decoration: none;
			outline: 0;
		}
		
		#nav a:hover
			{
				color: #fff !important;
			}
			
			#nav a.active:before
			{
				content: '';
				display: block;
				position: absolute;
				bottom: -0.6em;
				left: 50%;
				margin-left: -0.75em;
				border-left: solid 0.75em transparent;
				border-right: solid 0.75em transparent;
				border-top: solid 0.6em #282828;
			}

/*********************************************************************************/
/* sample tweet division
/*********************************************************************************/
       #tweet
       {
	   width: 95%;
	   margin-top:20px;
	   position: relative;
	   margin-left: auto;
	   margin-right: auto;
	   margin-bottom: 20px;
	   height: 490px;
	   padding: 15px;
	   border-top: solid 1px;
	   border-top-color: gray;
	   border-bottom: solid 1px;
	   border-bottom-color: gray; 

		}       

       #tweet li
       {
	   float:left;
	   text-align: left;
       }
			
/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

	#top
	{
	}

		#top .me
		{
			border-radius: 50%;
			overflow: hidden;
		}

		#top p
		{
		}
	
			#top p a
			{
				color: inherit;
			}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		color: #666;
	}
	
		#copyright a
		{
			color: inherit;

			-moz-transition: color .2s ease-in-out;
			-webkit-transition: color .2s ease-in-out;
			-o-transition: color .2s ease-in-out;
			-ms-transition: color .2s ease-in-out;
			transition: color .2s ease-in-out;
		}
		
		#copyright a:hover
		{
			color: #777;
		}

/*********************************************************************************/
/* button                                                                     */
/*********************************************************************************/
.button-style
{
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background: #950B0B;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
	border: 1px solid #8EBEAE;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(0,0,0,.2);
	font-size: 1em;
	font-weight: 400;
	color: #FFF !important;
}

.button-style a
{
	text-decoration: none;
	color: #FFF !important;
}

/*********************************************************************************/
/* 	lines                                                      */
/*********************************************************************************/

.line {
  position: relative;
  /*background-color: ;*/
  float: center;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 1px 1px 0px rgba(0,0,0,0.1);

}

.vertical { 
   width: 2px;

}

.horizontal {
   width: 100%;
   height: 1px;
}
#line1 {
   top: 20px;
   left: 50%;
}

#line2 {
   top: 260px;
   left: 25%;
   border
}


/*********************************************************************************/
/* The description Section                                                                      */
/*********************************************************************************/

.description
{
	text-align:left;	
}

.tooltip
{
	position: relative;
	float: left;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
	height: 4%;
	font-size: 150;
	width: 7%;
}
.tooltip2
{
	position: relative;
	float: left;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
	height: 4%;
	font-size: 150;
	width: 8%;
}
.sentiment_score
{
	font-size: 250%;
	float: left;
	height: 4%;
}
/***************************/
/* The Tweet Table*/
/**************************/

#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 90%;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}
#background-image
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 90%;
	text-align: left;
	border-collapse: collapse;
}
#background-image th
{
	padding: 12px;
	font-weight: normal;
	font-size: 14px;
	color: #339;
}
#background-image td
{
	padding: 9px 12px;
	color: #669;
	border-top: 1px solid #fff;
}
#background-image tfoot td
{
	font-size: 11px;
}
#background-image tbody td
{
	background: url('images/back.png');
}
* html #background-image tbody td
{
	/* 
	   ----------------------------
		PUT THIS ON IE6 ONLY STYLE 
		AS THE RULE INVALIDATES
		YOUR STYLESHEET
	   ----------------------------
	*/
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='table-images/back.png',sizingMethod='crop');
	background: none;
}	
#background-image tbody tr:hover td
{
	color: #339;
	background: none;
}
#map
{
	height: 500px;	
}


/***************/
.scroll-pane
{
	height: 100px;
	overflow: auto;
	width: 100%;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}

